body {
	background-color: hsl(216, 12%, 8%);
}
button:hover {
	cursor: pointer;
}
button:disabled {
	cursor: not-allowed;
}
.square p {
	font-size: 15px;
	font-weight: 400;
	color: hsl(217, 12%, 63%);
	line-height: 1.6;
}
.square h1 {
	font-weight: 700;
	font-size: 25px;
	margin-top: 36px;
	margin-bottom: 10px;
}

.container {
	background-color: hsl(216, 12%, 8%);
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#selected {
	background-color: hsl(216, 12%, 54%);
	color: hsl(0, 0%, 100%);
}

#hide {
	display: none;
}
.hide {
	display: none;
}
.square {
	background-color: brown;
	width: 390px;
	height: 390px;
	padding: 30px;
	box-sizing: border-box;
	border-radius: 30px;

	background-image: linear-gradient(135deg, #1e252f, #171e28);
}
.square1-elements {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.buttons {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}

.buttons button:hover {
	background-color: hsl(25, 97%, 53%);
	color: hsl(0, 0%, 100%);
}

.button,
.icon-star {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: none;
	background-color: hsl(213, 19%, 18%);
	color: hsl(217, 12%, 63%);
}
.icon-star {
	display: flex;
	justify-content: center;
	align-items: center;
}

.submit {
	width: 100%;
	height: 35px;
	border: none;
	border-radius: 30px;
	color: hsl(0, 0%, 100%);
	font-weight: 700;
	letter-spacing: 1px;
	background-color: hsl(25, 97%, 53%);
}
.submit:hover {
	background-color: hsl(0, 0%, 100%);
	color: hsl(25, 97%, 53%);
}

.square2-elements {
	text-align: center;

	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.square2-elements img {
	margin-top: 10px;
	margin-bottom: 30px;
}

.text {
	width: 200px;
	height: 35px;
	border-radius: 100px;
	background-color: hsl(213, 19%, 18%);

	display: flex;
	justify-content: center;
	align-items: center;
}

.text p,
.star {
	color: hsl(25, 97%, 53%);
}

@media (max-width: 500px) {
	.square {
		width: 80%;
	}
}
